@page "/Favorites"
@using Microsoft.AspNetCore.Components
@using TutorProject.Searcher.Front.Models
@inject NavigationManager _navigationManager
@inject HttpClient _http

<PageTitle>Favorites</PageTitle>

<h1>Favorites</h1>

<table class="table">
        <thead>
        <tr>
            <th>Имя</th>
            <th>Формат работы</th>
            <th>Описание</th>
            <th>Цена за час</th>
            <th>Классы обучения</th>
            <th>Предметы</th>
            <th></th>
            <th></th>
            
        </tr>
        </thead>
        <tbody>
        @{
            System.Diagnostics.Debug.Assert(TutorsList != null, nameof(TutorsList) + " != null");
        }
        @foreach (var tut in TutorsToShowList)
        {
            <tr>
                <td>@tut.Tutor.Name</td>
                <td>@tut.Tutor.WorkFormat</td>
                <td>@tut.Tutor.Description</td>
                <td>@tut.Tutor.PricePerHour</td>
                <td>@tut.Tutor.PupilMinClass - @tut.Tutor.PupilMaxClass</td>
                <td>@tut.Subjects</td>
                <td><button class="btn btn-primary" @onclick="@(()=> DeleteFromFavorites(tut.Tutor.Id))">delete</button></td>
                <td><button class="btn btn-primary" @onclick="@(()=> GoToChat())">chat</button></td>
            </tr>
        }
        </tbody>
</table>

@code {
    private Guid ClientID { get; set; }
    private List<TutorResult>? TutorsList { get; set; }
    private List<TutorToShow>? TutorsToShowList { get; set; }
    
    protected override async Task OnInitializedAsync()
    {
        ClientID = Guid.Parse("ec7052df-4928-4f42-a8a0-2cff0cb16dd3");
        TutorsList = new List<TutorResult>();
        TutorsToShowList = new List<TutorToShow>();
        
        var response = await _http.GetAsync($"https://localhost:7263/favorites/{ClientID}/getTutorsFromFavorites");
        TutorsList = response.Content.ReadFromJsonAsync<List<TutorResult>>().Result;
        
        foreach (var tutor in TutorsList)
        {
            tutor.Description ??= "-";
            var resp = await _http.GetAsync($"https://localhost:7263/searcher/{tutor.Id}/getAllSubjects");
            var subjects = resp.Content.ReadFromJsonAsync<List<string>>().Result;
            TutorsToShowList.Add(new TutorToShow(tutor, subjects));
        }
    }

    private async Task DeleteFromFavorites(Guid tutorId)
    {
        await _http.DeleteAsync($"https://localhost:7263/favorites/{ClientID}/deleteTutorFromFavorites?tutorId={tutorId}");
    }

    private async Task GoToChat()
    {
        
    }
}