@page "/search/schedule/{tutorId}/{token}"
@using TutorProject.Searcher.Front.Models
@using Newtonsoft.Json
@inject NavigationManager NavigationManager
@inject HttpClient Http

<PageTitle>Schedule</PageTitle>
@if (TutorSchedule != null)
{
    <div>
        <h2 style="word-spacing: 6px"><strong>@TutorSchedule?.Tutor.Name</strong> @TutorSchedule?.Tutor.PricePerHour₽ </h2>
        
        @switch (@TutorFormat)
        {
            case "TutorHome":
                <h5 class="mb-2 text-muted">Дома у репетитора</h5>
                break;
            case "ClientHome":
                <h5 class="mb-2 text-muted">Дома у Вас</h5>
                break;
            case "Online":
                <h5 class="mb-2 text-muted">Онлайн</h5>
                break;
        }
        <h5 class="mb-2 text-muted">@TutorSchedule?.Tutor.PupilMinClass - @TutorSchedule?.Tutor.PupilMaxClass классы</h5>
    </div>

    
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
        @switch(InFav)
        {
            case true:
                <button class="btn btn-danger" @onclick="@(()=> DeleteFromFavorites())"> 
                    <h5 style="height: 14px;">❤️</h5>
                </button>
                break;
            case false:
                <button class="btn btn-outline-danger" @onclick="@(()=> AddToFavorites())"> 
                    <h5 style="height: 14px;">❤️</h5>
                </button>
                break;
        }
        @switch (InBL)
        {
            case true:
                <button class="btn btn-dark" @onclick="@(() => DeleteFromBlacklist())">
                    <h6 style="height: 12px;">ЧС</h6>
                </button>
                break;
            case false:
                <button class="btn btn-outline-dark" @onclick="@(() => AddToBlackList())">
                    <h6 style="height: 12px;">ЧС</h6>
                </button>
                break;
        }
        <button class="btn btn-outline-primary" @onclick="@(() => StartChat())">
            <h6 style="height: 12px;">Начать чат</h6>
        </button>
    </div>
    <br>
    <br>
    <div>
        <h5><strong>Описание</strong></h5> 
        <h6>@TutorSchedule?.Tutor.Description</h6>
    </div>
    <br>
<br>
    <h5><strong>Расписание</strong></h5>
    <style>
    tr.tight { line-height: 0.001rem;}
    td.tight { line-height: 0.01rem; }
</style>

    <div class="alert w-50">
        <table class="table table-sm">
            <thead>
            <tr>
                <th class="text-center">
                    ПН
                </th>
                <th class="text-center">
                    ВТ
                </th>
                <th class="text-center">
                    СР
                </th>
                <th class="text-center">
                    ЧТ
                </th>
                <th class="text-center">
                    ПТ
                </th>
                <th class="text-center">
                    СБ
                </th>
                <th class="text-center">
                    ВС
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var lesson in LessonTime)
            {
                var j = LessonTime.IndexOf(lesson);
                <tr class="tight">
                    @foreach (var day in TutorSchedule.FreeTimeSchedule)
                    {
                        var i = TutorSchedule.FreeTimeSchedule.IndexOf(day);
                        @switch (TutorSchedule?.FreeTimeSchedule[i].DaySchedule[j].ToString())
                        {
                            case "True":
                                <td class="tight">
                                    <div class="alert alert-success text-center" role="alert">
                                        @lesson
                                    </div>
                                </td>
                                break;
                            case "False":
                                <td class="tight">
                                    <div class="alert alert-secondary text-center" role="alert">
                                        @lesson
                                    </div>
                                </td>
                                break;
                        }
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@code {

    [Parameter]
    public string TutorId { get; set; }
    
    [Parameter]
    public string Token { get; set; }

    private AuthorizedUser User { get; set; }
    private string ClientId { get; set; }
    private ScheduleResult? TutorSchedule { get; set; }
    private List<string> LessonTime { get; set; } = new List<string>();
    private string ScheduleStart { get; set; } = "http://localhost:6001/schedule/";
    private string ListsStart { get; set; } = "http://localhost:6001/";
    private string TutorFormat { get; set; }
    private bool InFav { get; set; }
    private bool InBL { get; set; }


    protected override async Task OnInitializedAsync()
    {
        var authoResponse = await Http.GetAsync($"http://localhost:4000/api/authorization?token={Token}");
        User = authoResponse.Content.ReadFromJsonAsync<AuthorizedUser>().Result;
        if (User.UserId == null)
        {
            NavigationManager.NavigateTo("http://localhost:7020/login");
        }
        ClientId = User.UserId.ToString();
        
        var response = await Http.GetAsync(ScheduleStart + $"{TutorId}/getSchedule");
        TutorSchedule = response.Content.ReadFromJsonAsync<ScheduleResult>().Result;

        for (int i = 0; i < 12; i++)
        {
            LessonTime.Add((i + 9).ToString() + ":00");
        }
        TutorFormat = TutorSchedule.Tutor.WorkFormat.ToString();
        
        var uri = ListsStart + $"favorites/{ClientId}/checkTutorInFavorites?tutorId={TutorId}";
        var responseMessage = await Http.GetAsync(uri);
        InFav = (responseMessage.Content.ReadFromJsonAsync<bool>().Result);
        
        uri = ListsStart + $"blacklist/{ClientId}/checkTutorInBlacklist?tutorId={TutorId}";
        responseMessage = await Http.GetAsync(uri);
        InBL = (responseMessage.Content.ReadFromJsonAsync<bool>().Result);
    }
    
        
    private async Task AddToBlackList()
    {
        InBL = true;
        InFav = false;
        var uri = ListsStart + $"blacklist/{ClientId}/addTutorToBlacklist?tutorId={TutorId}";
        var clientToTutor = new ClientToTutor { Id = new Guid(), Client  = new Guid(ClientId), Tutor = new Guid(TutorId)};
        string json = JsonConvert.SerializeObject(clientToTutor);
        HttpContent content = new StringContent(json);
        await Http.PostAsync(uri, content);
    }
    
    private async Task DeleteFromBlacklist()
    {
        InBL = false;
        await Http.DeleteAsync(ListsStart + $"blacklist/{ClientId}/deleteTutorFromBlacklist?tutorId={TutorId}");
    }

    
    private async Task AddToFavorites()
    {
        InFav = true;
        InBL = false;
        var uri = ListsStart + $"favorites/{ClientId}/addTutorToFavorites?tutorId={TutorId}";
        var clientToTutor = new ClientToTutor { Id = new Guid(), Client  = new Guid(ClientId), Tutor = new Guid(TutorId)};
        string json = JsonConvert.SerializeObject(clientToTutor);
        HttpContent content = new StringContent(json);
        await Http.PostAsync(uri, content);
    }
    
    private async Task DeleteFromFavorites()
    {
        InFav = false;
        var responseMessage = await Http.DeleteAsync(ListsStart + $"favorites/{ClientId}/deleteTutorFromFavorites?tutorId={TutorId}");
    }

    private void StartChat()
    {
        
    }
}